@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #2A2254;
  padding: 10px 40px 0px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


nav ul li.logo>svg{
    background-color: #ffff;
    width: 80%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 2%;
}
nav ul div.items{
  padding: 0 85px;
  display: inline-flex;
  margin-left: 35%;
}
nav ul div.items a{
  color: #fff ;
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
  font-weight: bold;
}
nav ul div.items a:hover{
  color:#5E1919 ;
}
nav ul .search-icon{
  height: 35px;
  display: flex;
  background: #ffff;
  border-radius: 40px;
}
nav ul .search-icon input{
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 15px 0 0 15px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin-left: 30%;
  /* border: 1px solid #cccccc; */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #ffff;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before{
  content: '\f00d';
}

@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul div.items{
    flex: 4;
  }
}
@media screen and (max-width: 800px){
  nav ul li.btn{
    display: block;
  }
  nav{
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #5E1919;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}
.content .text{
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}
.content .p{
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}
/* end header */
body {margin:0;}

.topnav {
  overflow: hidden;
  margin-left: 25%;
  margin-top: 3%;
}
.border-bottom-topnav{
    width: 40%;
    margin-left: 31%;
    background-color: #000;
    height: 1px;
    margin-top: 25px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  margin: 0 auto;
  border-left: 1px solid black;
}

.topnav a:hover {
  border-bottom: 5px solid #5E1919;
}

.topnav a.active {
  border-bottom: 5px solid #5E1919;

}
@media screen and (max-width: 1052px) {
  .topnav {
    overflow: hidden;
    margin-left: -3%;
    margin-top: 3%;
  }
  .border-bottom-topnav{
      width: 40%;
      margin-left: 32%;
      background-color: #000;
      height: 1px;
      margin-top: 25px;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    margin: 0 auto;
    border-left: none;
  }
  

  
  .topnav a.active {
    border-bottom: 5px solid #5E1919;
  
  }
  .topnav a.center{
    margin-left:  22%;

  
  }
}
@media screen and (max-width: 800px){
  .topnav {
    overflow: hidden;
    margin-left: -3%;
    margin-top: 3%;
  }
  .border-bottom-topnav{
      width: 40%;
      margin-left: 32%;
      background-color: #000;
      height: 1px;
      margin-top: 25px;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: none;
    border-left: none;
  }
  

  
  .topnav a.active {
    border-bottom: 5px solid #5E1919;
  
  }
  .topnav a.center{
    margin-left:  22%;

  
  }
}
@media screen and (max-width: 405px) {
    
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #2A2254;

}
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
}
.table {
  width: 40%;
  height: fit-content;
  color: #000;
  background-color: #D9D9D9;
  border-collapse: collapse;
  text-align: center;
margin-left: 30%;
}
th {
  color: #000;
  background-color: #D9D9D9;
  border-collapse: collapse;

  text-align: center;
}

td {
  color: #000;
  background-color: #D9D9D9;

  border-collapse: collapse;

  text-align: center;
}

h3 {
  font-size: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
h4 {
  margin-left: 30%;
}
.table2>td{
  background-color: #fff;
}
body {
  position: relative; 
}

/***** Footer *****/

.footer-top { padding: 60px 0; background:  #2A2254; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #444; text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

